@use "../../core/mixins" as mix;
@use "../../core/variables" as var;

.articleList {
  grid-area: products;
  &__subtitle {
    text-align: center;
    margin-top: 4rem;
    font-size: 3rem;
  }
  &__list {
    @include mix.ul();

     // Si está en el carrito le añadimos esta clase para modificar los estilos
    &--li.isInCart {
      background-color: var.$color_primary;
      color: var.$color_secondary;
      border: 1px solid var.$color_delete;

    }
    // Y si el li tiene esa clase cambiamos el estilo en la clase del btn
    &--li.isInCart .articleList__list--li--btn {
      background-color: var.$color_delete;
      border: 1px solid var.$color_secondary;

    }
    &--li.isInCart .articleList__list--li--containerImg--img {
      border: 2px solid var.$color_primary;
      border-radius: 5px;
    }
  }
}



