@use "../../core/mixins" as mix;

.articleList {
  grid-area: products;
  &__subtitle {
    text-align: center;
    margin-top: 4rem;
    font-size: 3rem;
  }
  &__list {
    @include mix.ul();
  }
}
