@use '../../core/variables' as var;

.articleSearch{
  margin: 0 auto;
  grid-area: search;
  display: flex;
  margin-top: 4rem;
  padding-block: 3rem;
  justify-content: center;
  align-items: center;
  width: 70%;
  gap:4rem;
  box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.20);
  border-radius: 5px;
  &__input{
    padding: 0.5rem;
    border: 2px solid var.$color_primary;
    border-radius: 5px;
  }
  &__btn{
    background-color: var.$color_primary;
    color: var.$color_secondary;
    border-radius: 5px;
    padding: 0.6rem;
    padding-inline: 2rem;
    border: 1px solid var.$color_text;
  }

}