@use "../../core/variables" as var;
@use "../../core/mixins" as mix;

.articleCart {
  grid-area: cart;
  box-shadow: var.$box-shadow_sections;
  background-color:var.$card-color_background;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin-inline: 3rem;
  &__btnDeleteAll {
    margin: 0 auto;
    width: 60%;
    padding-block: 1rem;
    background-color: var.$color_delete;
    color: var.$color_secondary;
    border-radius: 5px;
    border: none;
    transition: transform 0.2s ease;
    &:hover {
      @include mix.hover(var.$color_delete,var.$color_secondary);
    }
  }
}

.hidden {
  display: none;
}
