@use "../../core/variables" as var;
@use "../../core/mixins" as mix;

.articleCart {
  grid-area: cart;
  box-shadow: var.$box-shadow_sections;
  background-color:var.$card-color_background;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-inline: 3rem;
  padding-bottom: 4rem;
  &__btnDeleteAll {
    margin: 0 auto;
    width: 60%;
    padding-block: 1rem;
    @include mix.btn(
        var.$color_delete,
        var.$color_secondary,
        1px solid var.$color_secondary
      );
      font-weight: var.$font-weight_title;
    &:hover {
      @include mix.hover(var.$color_delete,var.$color_secondary);
      transform:  translateY(-5px);
    }
  }
}

.hidden {
  display: none;
}
