@use '../../core/variables' as var;

.articleCart{
  grid-area: cart;
  box-shadow: var.$box-shadow_sections;
  display: flex;
  flex-direction: column;
  &__btnDeleteAll{
    margin: 0 auto;
    width: 60%;
    padding-block: 1rem;
    background-color: var.$color_delete;
    color: var.$color_secondary;
    border-radius: 5px;
    border: none;
  }
}

.hidden{
  display: none;
}