@use "./variables" as var;


@mixin btn(
  $background: var.$color_primary,
  $color: var.$color_secondary,
  $border: 1px solid var.$color_text
) {
  background-color: $background;
  color: $color;
  border: $border;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

@mixin hover($background, $color) {
  transform: scale(1.05) translateY(-5px);
  background-color: $color;
  color: $background;
  border: 3px solid $background;
}

@mixin ul() {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 5rem;
  justify-content: center;
  &--li {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25rem;
    padding: 1rem;
    gap: 1rem;
    border-radius: 5px;
    box-shadow: 0 0px 12px 2px rgba(0, 0, 0, 0.4);
    background-color: var.$color_secondary;
    &--containerImg {
      width: 100%;
      height: 20rem;
      display: flex;
      justify-content: center;
      align-items: center;
      &--img {
        max-height: 100%;
        max-width: 100%;
        object-fit: contain;
        display: block;
      }
    }
    &--div {
      position: absolute;
      border: 1px solid var.$color_text;
      padding: 0.5rem;
      border-radius: 5px;
      background-color: var.$color_delete;
      color: var.$color_secondary;
      font-weight: var.$font-weight_title;
      bottom: 1rem;
      right: 1rem;
      &:hover {
        @include hover(var.$color_delete, var.$color_secondary);
      }
    }
    &--title {
      font-size: 1.5rem;
      text-align: justify;
      padding-inline: 1rem;
    }
    &--span {
      font-size: 1.5rem;
    }
    &--btn {
      padding: 1rem 4rem;
      font-weight: var.$font-weight_title;
      margin-top: auto;
      @include btn();
      &:hover {
        @include hover(var.$color_primary, var.$color_secondary);
      }
    }
    &--divQuantity {
      display: flex;
      gap: 1.5rem;
      align-items: center;
      &--btn {
        padding: 0.5rem;
        font-weight: var.$font-weight_title;
        @include btn();
        &:hover {
          @include hover(var.$color_primary,var.$color_secondary);
        }
      }
      &--span {
        font-size: 1.5rem;
      }
    }
  }
}


