$color_primary: #6585e6;
$color_secondary: #fff;
$color_text: #9b9b9b;
$color_background: #cedaf0da;
$card-color_background: #ebebeb;
$color_delete: #ff5959;
$box-shadow_sections: -4px 5px 20px rgba(0, 0, 0, 0.20);
$font-weight_title: 700;
$font-weight_text: 400;