@use '../core/variables' as var;

.header {
  background-color: var.$color_primary;
  color:var.$color_secondary;
  padding: 2rem;
  text-align: center;
  border-bottom: 3px solid  var.$color_text;
  width: 100%;
  &__title {
    font-size: 4rem;
    font-weight: var.$font-weight_title;
  }
}
