@use '../core/variables' as var;
.main{
  display: grid;
  grid-template-columns: 36rem 1fr;
  grid-template-areas:
  'search search'
  'cart products';
  justify-items: center;
  background-color: var.$color_background;
  padding-bottom: 4rem;
}

.main.noCart{
  grid-template-columns: 1fr;
  grid-template-areas:
  'search'
  'products';
}