@use '../core/variables' as var;
.main{
  display: grid;
  grid-template-columns: 2fr;
  grid-template-areas:
  'search search'
  'cart products';
  justify-content: center;
  align-content: center;
  background-color: var.$color_background;
}